<iframe id="load_payment" class="embed-responsive-item" name="load_payment" width="100%" height="650px" frameborder="0" scrolling="no">
</iframe>
<form id="send_hptoken" action="https://test.authorize.net/payment/payment" method="post" target="load_payment" >
	<input type="hidden" name="token" value="<%= @token %>" />
	<input type="submit" value="Get Payment Form">
</form>
Token is generated from the route for this view, that token gets passed to this form url, that form post returns the form to send to authorize
<script type="text/javascript">
//<![CDATA[
window.CommunicationHandler = {};

window.parent.parent.CommunicationHandler.onReceiveCommunication = function (argument) {
	var transResponse = JSON.parse(params['response']);
	console.log(transResponse);
}

 function callParentFunction(str) {
   if (str && str.length > 0 && window.parent && window.parent.parent 
     && window.parent.parent.CommunicationHandler && window.parent.parent.CommunicationHandler.onReceiveCommunication)
   {
      var referrer = document.referrer;
      window.parent.parent.CommunicationHandler.onReceiveCommunication({qstr : str , parent : referrer});
   }
 }

function receiveMessage(event) {
  if (event && event.data) {
    callParentFunction(event.data);
    console.log("recieved");
    // Try to target the iframe and get the id that way..
	CommunicationHandler.onReceiveCommunication(event);
    console.log(message.transId)
    console.log(event)
    console.log(message)
  }
}

if (window.addEventListener) {
  window.addEventListener("message", receiveMessage, false);
} else if (window.attachEvent) {
  window.attachEvent("onmessage", receiveMessage);
}

if (window.location.hash && window.location.hash.length > 1) {
  callParentFunction(window.location.hash.substring(1));
}
//]]>
</script>