<iframe id="load_payment" class="embed-responsive-item" name="load_payment" width="100%" height="650px" frameborder="0" scrolling="no">
</iframe>
<form id="send_hptoken" action="https://test.authorize.net/payment/payment" method="post" target="load_payment" >
	<input type="hidden" name="token" value="<%= @token %>" />
	<input type="submit" value="Get Payment Form">
</form>
Token is generated from the route for this view, that token gets passed to this form url, that form post returns the form to send to authorize